<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ocrugbyapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".teams.AdminPickTeamList"></activity>
        <activity android:name=".profile.DeleteAccount" />
        <activity android:name=".profile.Settings" />
        <activity android:name=".profile.Profile" />
        <activity android:name=".profile.Register" />
        <activity android:name=".fixtures.Fixtures" />
        <activity android:name=".leagues.Leagues" />
        <activity android:name=".members.Members" />
        <activity android:name=".members.MembersProfile" />
        <activity android:name=".teams.Teams" />
        <activity android:name=".home.Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".profile.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>